.btn {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.btn .top {
  position: absolute;
  display: inline-flex;
  top: 0;
  left: 49.9%;
  width: 100%;
  text-align: center;
  transition: opacity 0.5s ease, top 0.5s ease;
  transform: translateX(-50%) translateY(-50%);
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.btn:hover .top {
  top: 50%;
  opacity: 1;
}
.btn:disabled .top {
  transform: translateX(-50%) translateY(-15%) !important;
  opacity: 0 !important;
}

.btn .front {
  display: inline-flex;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(0px);
  align-items: center;
  opacity: 1;
}
.btn:hover .front {
  top: 100%;
  transform: translateY(50%);
  opacity: 0;
}
.btn:disabled .front {
  top: 0 !important;
  transform: translateY(0%) !important;
  opacity: 1 !important;
}

.btn.large {
  font-size: 20px;
  height: 56px;
  line-height: 56px;
  border-radius: 999px;
}

.btn.medium {
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  border-radius: 999px;
}

.btn.small_40 {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
}

.btn.small_48 {
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  border-radius: 8px;
}

.btn.primary {
  background-color: var(--Primary);
  color: #fff;
  cursor: pointer;
  border: 0;
}
.btn.primary:hover {
  background-color: var(--Primary_200);
  color: #fff;
}
.btn.primary:active {
  background-color: var(--Primary_300);
  color: #fff;
}
.btn.primary.n_act {
  background-color: var(--Cool_Gray_400);
  color: #fff;
}
.btn.primary:disabled {
  background-color: var(--Cool_Gray_400);
  animation: none;
}

/* btn_small_40 */
.btn.outlined {
  border-radius: 8px;
}

.btn.outlined {
  border: 1px solid var(--Primary);
  color: var(--Primary);
  cursor: pointer;
}
.btn.outlined:hover {
  border-color: var(--Primary_200);
  color: var(--Primary_200);
}
.btn.outlined:active {
  border-color: var(--Primary_300);
  color: var(--Primary_300);
}
.btn.outlined:disabled {
  border-color: var(--Cool_Gray_400);
  color: var(--Cool_Gray_400);
}

.btn.btn-heart_L {
  color: var(--Cool_Gray_500);
  border: 1px solid var(--Cool_Gray_500);
  border-radius: 35px;
  padding: 8px 13px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  background-color: #fff;
}
.btn.btn-heart_L img {
  height: 23px;
}

.btn.btn-heart_S {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  cursor: pointer;
}

.btn.btn-heart_S img {
  margin-right: 4px;
}
